.ico-instagram {
    // background-image: url(../../../assets/img/Instagram_icon-icons.com_66804.svg);
    background-image: url(../img/Instagram_icon-icons.com_66804.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-vk {
    // background-image: url(../../../assets/img/vk_icon-icons.com_66102.svg);
    background-image: url(../img/vk_icon-icons.com_66102.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-telegram {
    // background-image: url(src\assets\img\telegram_icon_130816.svg;
    background-image: url(../img/telegram_icon_130816.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-share {
    background-image: url(../img/share_137206.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-fullscreen {
    background-image: url(../img/fullscreen_89822.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-minimize {
    background-image: url(../img/minimize.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-close{
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: 33px;
}

.ico-zoom{
    background-image: url(../img/zoom.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    // color: #d7d7d7;
}

//редактор svg -> https://jarjad.ru/svg-editor/
.ico-zoom-minus {
    // background-image: url(./assets/img/zoom-minus.svg);
    // background-image: url(./assets/img/zoom-minus1.svg);
    background-image: url(../img/zoom-minus2.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    // color: #d7d7d7;
}


.ico-facebook {
    background-image: url(../img/facebook.svg);
    // background-image: url(./assets/img/Facebook_icon.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-twitter {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-pinterest {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(../img/pinterest.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-download {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(../img/download.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}
