* {
    margin: 0;
    padding: 0;
}


br {
    margin-top: 5px;
}


p {
    // text-align: center;
    // margin-bottom: 20px;
}


.content {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    vertical-align: baseline;
}

.content-text {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    vertical-align: baseline;
}



// h1.site-title {
    // color: #ffff;
    // font-size: 36px;
    // font-weight: 700;
    // line-height: 1.2;
    // text-shadow: 4px -4px 3px #111,
    //              2px -2px 2px #999;
// }

// p.site-description {
    // font: 16px "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    // left: 25%;
    // padding-top: 6px;
    // text-shadow: 
	// 1px -1px 1px #111,
	// -1px 1px 1px #111,
	// 2px -2px 2px #999,
	// -2px 2px 2px #999;
// }