.p1 {
    padding: 1px;
}
.p2 {
    padding: 2px;
}
.p3 {
    padding: 3px;
}
.p4 {
    padding: 4px;
}
.p5 {
    padding: 5px;
}
.p7 {
    padding: 7px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.pt-7 {
    padding-top: 7px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-100 {
    padding-top: 100px;
}

.pr-3per {
    padding-right: 3%;
}
.pr-10 {
    padding-right: 10px;
}


.pb-7 {
    padding-bottom: 7px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-100 {
    padding-bottom: 100px;
}

.pl-3per {
    padding-left: 3%;
}

.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}

.p-20-0 {
    padding: 20px 0;
}